extends layout

append stylesheets
  link(rel='stylesheet', href='/stylesheets/chat.css')

block content
  div(ng-controller="chatController")
    | chat

append javascripts
  script(src="/javascripts/controller/chatController.js")
