extends layout

append stylesheets
  link(rel='stylesheet', href='/stylesheets/chat.css')

block content
  div(ng-controller="chatController")
    .wrapper
      .container
        .left
          .top
            ul.tab
              li.conversations(ng-click="changeTab(1)")
                a(ng-class="{active: activeTab === 1}") Chats
              li.onlineUsers(ng-click="changeTab(2)")
                a(ng-class="{active: activeTab === 2}") Online Users

          .tabArea
            .tab-left(ng-show="activeTab === 1")
              ul.people
                li.person(
                  ng-repeat="room in roomList",
                  ng-click="switchRoom(room)"
                )
                  span.name {{ room.name }}

            .tab-right(ng-show="activeTab === 2")
              ul.people
                li.person(ng-repeat="user in onlineList")
                  img(ng-src="{{ user.meta.profilePhotoUrl }}")
                  span.name {{ user.meta.name }} {{ user.meta.surname }}
                  span.preview &nbsp;
          .bottom
            button(ng-click="newRoom()") New Room
        .right(ng-show="chatClicked")
          .top
            span
              span.name {{ chatName }}
          .chat.active-chat
            .bubble.you
              span Hakan Ayd覺n
              | Hello, can you hear me?
            .bubble.you
              span Hakan Ayd覺n
              | I'm in California dreaming
            .bubble.me ... about who we used to be.
            .bubble.me Are you serious?
            .bubble.you
              span Hakan Ayd覺n
              | When we were younger and free...
            .bubble.you
              span Hakan Ayd覺n
              | I've forgotten how it felt before
          .write
            input(type='text')
            a.write-link.send(href='javascript:;')

append javascripts
  script(src="http://localhost:3000/socket.io/socket.io.js")
  script(src="/javascripts/controller/chatController.js")
