extends layout

append stylesheets
  link(rel='stylesheet', href='/stylesheets/chat.css')

block content
  div(ng-controller="chatController")
    .wrapper
      .container
        .left
          .top
            ul.tab
              li.conversations(ng-click="changeTab(1)")
                a(ng-class="{active: activeTab === 1}") Chats
              li.onlineUsers(ng-click="changeTab(2)")
                a(ng-class="{active: activeTab === 2}") Online Users

          .tabArea
            .tab-left(ng-show="activeTab === 1")
              ul.people
                li.person(
                  ng-repeat="room in roomList",
                  ng-click="switchRoom(room)"
                )
                  span.name {{ room.name }}

            .tab-right(ng-show="activeTab === 2")
              ul.people
                li.person(ng-repeat="user in onlineList")
                  img(ng-src="{{ user.meta.profilePhotoUrl }}")
                  span.name {{ user.meta.name }} {{ user.meta.surname }}
                  span.preview &nbsp;
          .bottom
            button(ng-click="newRoom()") New Room
        .right(ng-show="chatClicked")
          .top
            span
              span.name {{ chatName }}

          .loading(ng-show="loadingMessages") Loading...
          .chat.active-chat(ng-show="!loadingMessages")
            .bubble(
              ng-repeat="data in messages[roomId]",
              ng-class="{false: 'you', true: 'me'}[data.userId == user._id]"
            )
              span {{ data.username }} {{ data.surname }}
              | {{ data.message }}
          .write(ng-show="!loadingMessages")
            form(ng-submit="newMessage()")
              input(type='text', ng-model="message")
              a.write-link.send(ng-click="newMessage()")

append javascripts
  script(src="/socket.io/socket.io.js")
  script(src="/javascripts/services/userFactory.js")
  script(src="/javascripts/services/chatFactory.js")
  script(src="/javascripts/controller/chatController.js")
