extends layout

append stylesheets
  link(rel='stylesheet', href='/stylesheets/index.css')
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')

block content
  div(ng-controller="indexController")
    .modal
      .modal__inner
        .modal__header
          h2 Welcome, please login.
        .modal__footer
          a(href='/auth/google')
            i.fa.fa-google-plus(aria-hidden='true')
            | Login with Google+

append javascripts
  script(src="/javascripts/controller/indexController.js")
