extends layout

append stylesheets
  link(rel='stylesheet', href='/stylesheets/index.css')

block content
  div(ng-controller="indexController")
    .modal
      .modal__inner
        .modal__header
          h2 Welcome, please login.
        .modal__footer
          a(href='#')
            i.fa.fa-facebook(aria-hidden='true')
            | Login with Facebook

append javascripts
  script(src="/javascripts/controller/indexController.js")
