doctype html
html
  head
    title= title
    block stylesheets
      link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(ng-app="chatdad", ng-cloak)
      block content


  block javascripts
    script(src="/angular/angular.min.js")
    script(src="/javascripts/main.js")

